@import url('../index.css');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: var(--Neutral-900);
  color: var(--Neutral-0);
  position: relative;
  z-index: 100;
}

/* Logo */
.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__logo img {
  width: 18rem;
  height: 7.5rem;
}

.header__title {
  font-family: 'Bricolage Grotesque';
  font-size: 2rem;
  color: var(--Neutral-0);
  font-weight: 700;
}

@media (max-width:500px) {
  .header{
    padding: 2rem 1.5rem;
  }

  .header__logo img{
    width: 14rem;
    height: 4.5rem;
  }
  
}

/* Dropdown Container */
.header__units {
  position: relative;
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--Neutral-800);
  border: 1px solid var(--Neutral-700);
  color: var(--Neutral-200);
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 2px solid transparent;
}

.header__btn:hover {
  background-color: var(--Neutral-700);
  border: 2px solid var(--Neutral-200);
}

/* Dropdown Menu */
.header__menu {
  background: var(--Neutral-800);
  border-radius: 10px;
  padding: 1rem;
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease;
  z-index: 100;
}

.header__menu h4 {
  cursor: pointer;
  color: var(--Neutral-200);
  transition: color 0.3s ease;
  font-size: 1.4rem;
  padding: 0.4rem;
  margin-bottom: 1rem;
  border: 1px solid var(--Neutral-800);
  border-radius: 6px;
}

.header__menu h4:hover {
  color: var(--Neutral-300);
  border: 1px solid var(--Neutral-200);
}

.header__group:nth-child(3),.header__group:nth-child(2){
  border-bottom: 2px solid var(--Neutral-700);
  margin: 0 0 1rem 0;
}

.header__group-title{
  font-size: 1.4rem;
  color: var(--Neutral-200);
  padding-bottom: 0.2rem;
  margin-left: 0.35rem;
  font-weight: 200;
}

.tick {
  color: var(--Neutral-200);
  font-weight: bold;
  margin-left: 6px;
}


.header__options {
  padding: 0;
}

.option-item {
  color: var(--Neutral-400);
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 6px;
  margin: 0.2rem;
  transition: background 0.2s;
}

.option-item:hover {
  background: var(--Neutral-700);
}

.option-item.active {
  display: flex;
  justify-content: space-between;
  background: var(--Accent);
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header__options li {
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  font-size: 1.3rem;
  color: var(--Neutral-400);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.header__options li:hover {
  background-color: var(--Neutral-700);
  color: var(--Neutral-300);
}

