@import url('../index.css');

.hourly-forecast {
  background-color: var(--Neutral-800);
  border-radius: 16px;
  margin: 0 1.5rem;
  width: 350px;
  max-height: 570px;
  padding-bottom: 10px;
}

.hourly-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.hourly-header h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}

.day-selector {
  background: var(--Neutral-700);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  color: var(--Neutral-0);
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;
}

.day-selector:hover {
  background: var(--Neutral-700);
}

.hourly-forecast-grid {
  display: flex;
  flex-direction: column;
  max-height: 470px;
  gap: 12px;
  overflow-x: auto;
  padding: 20px;
  padding-top: 0;
  overflow-y: auto;
}

.hourly-forecast-grid::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.hourly-forecast-grid::-webkit-scrollbar-thumb {
  background: var(--Neutral-700);
  border-radius: 4px;
}

.hourly-card {
  background: var(--Neutral-700);
  border-radius: 12px;
  padding: 0 12px;
  min-width: 80px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hour-icon-time{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.hour-time {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
  color: var(--Neutral-0);
}

.hour-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hour-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hour-temp {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}